<worker 0>
  ## source: irb
  <source>
    @type tail
    tag history.irb
    path /var/log/irb_history/*.log
    path_key tailed_path
    pos_file /var/log/td-agent/irb_history.pos
    <parse>
      @type none
    </parse>
  </source>

  ## source: psql
  <source>
    @type tail
    tag history.psql
    path /home/*/.psql_history
    path_key tailed_path
    pos_file /var/log/td-agent/psql_history.pos
    <parse>
      @type none
    </parse>
  </source>
</worker>

<filter history.*>
  @type record_transformer
  <record>
    tag ${tag}
  </record>
</filter>

<filter history.irb>
  @type record_transformer
  enable_ruby
  <record>
    user "${%r{\/var\/log\/irb_history\/([a-zA-Z-]+).*}.match(record['tailed_path'])[1]}"
  </record>
</filter>

<filter history.psql>
  @type record_transformer
  enable_ruby
  <record>
    user "${%r{\/home\/([a-zA-Z-]+)\/.*}.match(record['tailed_path'])[1]}"
  </record>
</filter>

<match history.*>
  @type copy
  <store>
  <% if node['gitlab_fluentd']['stackdriver_enable'] -%>
    @type google_cloud
    label_map {
      "tag": "tag"
    }
    buffer_chunk_limit 10k
    <% if node['gitlab_fluentd']['pubsub_key'] -%>
    use_metadata_service false
    vm_name <%= node['fqdn'] %>
    vm_id <%= node['fqdn'] %>
    zone us-east
    <% end -%>
  <% else -%>
    @type null
  <% end -%>
  </store>
  @include ../prometheus-mixin.conf
</match>
