[Service]
Environment='TD_AGENT_OPTIONS=--gemfile=<%= node['gitlab_fluentd']['gemfile'] %> --gem-path=<%= node['gitlab_fluentd']['gem_path'] %> --plugin=<%= node['gitlab_fluentd']['plugin_path'] %>'
User=root
Group=root
<% if node['gitlab_fluentd']['pubsub_key'] -%>
Environment=GOOGLE_APPLICATION_CREDENTIALS=/etc/td-agent/pubsub-gcp-key.json
<% end -%>
EnvironmentFile=/etc/td-agent/td-agent.environment
PassEnvironment=FLUENTD_POSTGRES_INPUT_USERNAME FLUENTD_POSTGRES_INPUT_PASSWORD
