<%- if node['gitlab_fluentd']['postgres_pg_stat_statements_enable'] || node['gitlab_fluentd']['postgres_pg_stat_activity_enable'] -%>
FLUENTD_POSTGRES_INPUT_USERNAME=<%= node['gitlab_fluentd']['postgres_input_username'] %>
FLUENTD_POSTGRES_INPUT_PASSWORD=<%= postgres_exporter_password %>
<% end -%>
<%- if node['gitlab_fluentd']['redis_slowlog_enabled'] -%>
FLUENTD_REDIS_PASSWORD=<%= redis_password %>
<% end -%>
